In [1]:
#Columns are Purchase ID, SN, Age, Gender, Item IT, Item Name, Price
#dependencies
import pandas as pd

#Store filepath as variable
filepath = "purchase_data.csv"

#pull into a data frame
df = pd.read_csv(filepath)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Count total number of players
uniquesn = df["SN"].nunique()
uniqued = {'Total Players': [uniquesn]}
total_players = [uniquesn]
uniquedf = pd.DataFrame(uniqued)
display(uniquedf)

   Total Players
0            576

In [3]:
#Purchasing Analysis (Total)
#number of unique items
unique_items = df["Item ID"].nunique()

#total number of purchases
unique_purchases = df["Purchase ID"].nunique()

#total revenue
total_spent = df["Price"].sum()

#average purchase price
average_purchase_price = total_spent / unique_purchases

#Format into dollars and cents
#Steps found here https://stackoverflow.com/questions/21208376/converting-float-to-dollars-and-cents
total_spent = '${0:,.2f}'.format(total_spent)
average_purchase_price = '${0:,.2f}'.format(average_purchase_price)

#organize the data
pa_total_d = {'Number of Unique Items': [unique_items], 
              'Average Price': [average_purchase_price],
              'Number of Purchases': [unique_purchases],
              'Total Revenue': [total_spent]}

#put data into a data frame
pa_total_df = pd.DataFrame(pa_total_d)
display(pa_total_df)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [23]:
#Gender demographics
#Percentage and Count of Male players
#Percentage and count of female players
#Percentage and count of other/non-disclosed

#grab the variable for player count created in the last cell
display(total_players)

#https://stackoverflow.com/questions/21402485/pandas-how-to-filter-a-df-to-get-unique-entries
#create a data frame with information grouped by gender
gender_unique = df.groupby(["SN"]).first()

#find the number of male players; calculate the percentage
male_players = gender_unique.loc[gender_unique["Gender"] == "Male", :]
male_players = male_players["Gender"].count()
male_percentage = ((male_players / total_players)*100).sum()

#repeat the process for female players
female_players = gender_unique.loc[gender_unique["Gender"] == "Female", :]
female_players = female_players["Gender"].count()
female_percentage = ((female_players / total_players)*100).sum()

#repeat the process for other players
other_players = gender_unique.loc[gender_unique["Gender"] == "Other / Non-Disclosed", :]
other_players = other_players["Gender"].count()
other_percentage = ((other_players / total_players)*100).sum()

#https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.from_dict.html
#organize the data
gender_output_df = {'Male': [male_players, male_percentage],
                    'Female': [female_players, female_percentage],
                    'Other/Non-disclosed': [other_players, other_percentage]}
#put into a data frame
gender_output_df = pd.DataFrame.from_dict(gender_output_df, orient='index',
                                         columns = ["Total Count", "Percentage of Players"])
display(gender_output_df)

[576]

                     Total Count  Percentage of Players
Male                         484              84.027778
Female                        81              14.062500
Other/Non-disclosed           11               1.909722

In [ ]:
#purchasing analysis (gender)
#Break down all below by gender
#Purchase count
#average purchase price
#total purchase value
#average purchase total per person by gender
pa_gender_df = df[["Gender","Purchase ID"]]
pa_gender_df.columns = ['Gender', 'Purchase Count']
pa_gender_df = pa_gender_df.groupby(["Gender"]).count()

total_purch_value = df[["Gender", "Price"]]
total_purch_value.columns = ['Gender', 'Price']
total_purch_value = total_purch_value.groupby(["Gender"]).sum()

merged_gender_pa = pd.merge(left=pa_gender_df, right=total_purch_value, on = "Gender")
merged_gender_pa["Average Purchase Price"] = merged_gender_pa["Price"]/merged_gender_pa["Purchase Count"]

gender_unique_two = df.groupby(["SN"]).first()
gender_unique_two = gender_unique_two.groupby("Gender").count()
gender_unique_two = gender_unique_two[["Purchase ID"]]
gender_unique_two.columns = ['Unique Users']
#display(gender_unique_two)

merged_gender_pa = pd.merge(left=merged_gender_pa, right=gender_unique_two, on = "Gender")
merged_gender_pa["Avg Per Person"] = merged_gender_pa["Price"]/merged_gender_pa["Unique Users"]
merged_gender_pa = merged_gender_pa[["Purchase Count","Average Purchase Price",
                                     "Price","Avg Per Person"]]
merged_gender_pa.columns = ["Purchase Count", "Average Purchase Price",
                            "Total Purchase Value", "Avg Total Purchase per Person"]

display(merged_gender_pa)

In [ ]:
#age demographics
#break into bins of 4 years (ie <10, 10-14, 15-19, etc.)
age_demo = df
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_unique_id = gender_unique
total_users = gender_unique["Purchase ID"].count()

age_unique_id["Age Range"] = pd.cut(age_unique_id["Age"], bins, labels = group_names)
age_unique_id = age_unique_id[["Age Range", "Age"]]
age_unique_id = age_unique_id.groupby("Age Range").count()
age_unique_id.columns = ["Total Count"]
age_unique_id["Percentage of Players"] = age_unique_id["Total Count"] / total_users

display(age_unique_id)
#Purchase count
#Average Purchase Price
#Total Purchase value
#Average purchase total per person by age group

In [ ]:
#Top spenders
#identify the 5 top spenders in the game by total purchase value, then list in
#a table:
#Sn
#Purchase Count
#Average Purchase Price
#total Purchase value

In [ ]:
#Most popular items
#identify the 5 most popular items by purchase count, then list in a table:
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [ ]:
#Most profitable items
#Identify the 5 most profitable items by total purchase value, then list in a tab:
#item id
#item name
#purchase count
#item price
#total purchase value

In [ ]:
#include a written condition of three observable trends based on the data